<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Card Types</h1>
        <p class="description">Members management page separated with tabs.</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.addNewCardType()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add CardType</span>
        </button>

    </div>

</div>

<!-- Tables and Panels -->
<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div id="main">
                    <div class="list-your-property-form">
                        <h2 class="page-header" style="font-size:24px; margin-top:5px">
                            {{'Edit ' + vm.class.className + ' Card Type' || 'Create New Subject'}}
                        </h2>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-4 col-sm-12">

                                    <div class="span4">

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Card Type Name <span style="font-size:11px">(eg: Verve Nigeria)</span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name"
                                                   ng-model="vm.cardtype.name"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <input type="submit" data-ng-click="vm.save()"
                                                   value="Submit Entry" class="btn btn-primary btn-large list-your-property arrow-right" />
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">CardTypes Lists</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Card Type Name</th>
                        <th>Numeric</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.cardtypes"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.name}}</td>
                        <td>{{c.classNumeric}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

