
<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Dashboard</h1>
        <p class="description">Retrive all jobs status.</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button data-ng-click="vm.refresh()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

    </div>

</div>

<div class="row">

    <div class="col-sm-3">

        <div class="xe-widget xe-counter-block"
             data-from="0" data-to="99.9"
             data-suffix="%" data-duration="2">

            <div class="xe-upper">

                <div class="xe-icon">
                    <i class="fa fa-download fa-5x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num">123</strong>
                    <span>Job Received</span>
                </div>

            </div>
            <div class="xe-lower">
                <div class="border"></div>

                <span>Result</span>
                <strong>78% Increase</strong>
            </div>
        </div>

    </div>

    <div class="col-sm-3">

        <div class="xe-widget xe-counter-block xe-counter-block-purple"
             data-duration="3">

            <div class="xe-upper">

                <div class="xe-icon">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num">509</strong>
                    <span>Data Processed</span>
                </div>

            </div>
            <div class="xe-lower">
                <div class="border"></div>

                <span>Increase</span>
                <strong>512 more photos</strong>
            </div>
        </div>

    </div>

    <div class="col-sm-3">

        <div class="xe-widget xe-counter-block xe-counter-block-blue" xe-counter data-suffix="k"
             data-count=".num"
             data-from="0"
             data-to="310"
             data-duration="4"
             data-easing="false">

            <div class="xe-upper">

                <div class="xe-icon">
                    <i class="fa fa-download fa-5x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num">12.3</strong>
                    <span>Job Receieved</span>
                </div>

            </div>
            <div class="xe-lower">
                <div class="border"></div>

                <span>Bounce Rate</span>
                <strong>51.55%</strong>
            </div>
        </div>

    </div>

    <div class="col-sm-3">

        <div class="xe-widget xe-counter-block xe-counter-block-orange">
            <div class="xe-upper">

                <div class="xe-icon">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num">234567</strong>
                    <span>Data Processed</span>
                </div>

            </div>
            <div class="xe-lower">
                <div class="border"></div>

                <span>Tickets Opened</span>
                <strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong>
            </div>
        </div>

    </div>

</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Recent Uploaded Jobs
            </div>

            <div style="padding-top:10px">

                <input class="input-medium search-query"
                       style="padding:5px 0 5px 5px; width: 300px" type="text"
                       placeholder="Search for incoming job on the server"
                       data-ng-model="vm.serverJobsSearch"
                       data-ng-keyup="vm.search($event)" />

                &nbsp;&nbsp;


                Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}} - Total:{{vm.serverJobCount}} Jobs

            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" data-ng-repeat="c in vm.recentFilteredServerJobs">
                        <div>
                            <span data-ng-click="vm.gotoJobDetails(c)">
                                <!--({{$index +1}})-->
                                <a ng-if="vm.currnetRole === 'CardOps' || vm.currnetRole === 'CardOps Supervisor' " href="#/co/job-setup/{{c.id}}">{{c.jobName}}</a>
                                <a ng-if="vm.currnetRole !== 'CardOps'" href=""> {{c.jobName}}</a>
                            </span>
                            <span class="pull-right text-muted small">
                                <em>{{c.formattedDate}}</em>
                                <!--Todo: Only CO can delete-->
                                <span ng-if="vm.currnetRole === 'CardOps' || vm.currnetRole === 'CardOps Supervisor' " data-ng-click="vm.markTreated(c)" style="margin-left:20px">
                                    <i class="fa fa-times fa-5x"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

            <div>

                <pagination boundary-links="true"
                            on-select-page="vm.pageChanged(page)"
                            total-items="vm.serverJobFilteredCount"
                            items-per-page="vm.paging.pageSize"
                            page="vm.paging.currentPage"
                            max-size="vm.paging.maxPagesToShow"
                            class="pagination-small"
                            previous-text="Prev"
                            next-text="Next"
                            first-text="First"
                            last-text="Last"></pagination>

            </div>

        </div>
    </div>
</div>

