<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Incoming Jobs</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<div class="table-wrapper">

    <div class="table-responsivex" 
         data-pattern="priority-columns" 
         data-focus-btn-icon="fa-asterisk" 
         data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                    <thead>
                        <tr>
                            <th data-priority="1">Sector</th>
                            <th data-priority="3">Client</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="c in vm.incomingJobs">

                            <td data-ng-click="vm.gotoJobDetails(c)" data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.sector.name}}
                            </td>
                            <td data-ng-click="vm.gotoJobDetails(c)" data-priority="1" colspan="1" data-columns="id8c140f573a4de-col-3">
                                {{c.name}}
                            </td>
                            <td data-ng-click="vm.wasteReport(c)">Waste Report</td>
                        </tr>


                    </tbody>
                </table>

            </div>
        </div>


      
    </div>
</div>
