<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Card Issuance</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<!-- Tables and Panels -->
<div class="row">
    <div class="col-md-5">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div id="main">
                    <div class="list-your-property-form">
                        <h2 class="page-header" style="font-size:24px; margin-top:5px">
                            Create Card Issuance
                        </h2>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-4 col-sm-12">

                                    <div class="span4">

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Client: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name" readonly
                                                   ng-model="vm.card.clientName"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Product Name:
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>

                                            <select data-ng-options="r.name for r in vm.newProducts "
                                                    data-ng-model="vm.card.product" class="form-control"
                                                    style="padding:5px"></select>

                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Service Type:
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>

                                            <select data-ng-options="r.name for r in vm.serviceTypes "
                                                    data-ng-model="vm.card.serviceType" class="form-control"
                                                    style="padding:5px"></select>

                                        </div>


                                        <div class="input-text form-group">
                                            <input type="submit" data-ng-click="vm.save()"
                                                   value="Submit Entry" class="btn btn-primary btn-large list-your-property arrow-right" />
                                        </div>

                                        <div data-ng-show="vm.messageVisble" style="color:red">
                                            <img src="../../../assets/chargement.gif" />
                                            {{vm.message}}
                                        </div>

                                        <div style="margin-top:10px; font-size:12px" data-ng-hide="message == ''"
                                             data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                            {{message}}
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-7">

        <!--Vault Report-->
        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Product Service Types</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Service Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.clientProductServices"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.sidProduct.name}}</td>
                        <td>{{c.serviceType.name}}</td>
                    </tr>

                </tbody>
            </table>

            <div ng-show="vm.createVault">
                This Product do not have any items in the Vault <br /> <br />
               
                <div class="input-text form-group">
                    <input type="submit" data-ng-click="vm.createProductVault()"
                           value="Create Product Vault" class="btn btn-primary btn-large list-your-property arrow-right" />
                </div>

            </div>
        </div>

   
    </div>
</div>

