<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">MIS Stock Reports</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<div class="table-wrapper">

    <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

        <div class="row">
            <div class="col-md-8">
              
                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Waste</th>
                            <th>Returned</th>
                            <th>Opening Stock</th>
                            <th>Closing Stock</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr data-ng-repeat="c in vm.stockrepots"
                            data-ng-click="vm.gotoStockReportLog(c)">
                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                ({{$index +1}}) {{c.fileName}}
                            </th>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.formattedDate}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.qtyIssued}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.wasteQty}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.returnQty}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.openingStock}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                {{c.closingStock}}
                            </td>

                        </tr>

                    </tbody>

                </table>

                <div>

                    <pagination boundary-links="true"
                                on-select-page="vm.pageChanged(page)"
                                total-items="vm.productFilteredCount"
                                items-per-page="vm.paging.pageSize"
                                page="vm.paging.currentPage"
                                max-size="vm.paging.maxPagesToShow"
                                class="pagination-small"
                                previous-text="Prev"
                                next-text="Next"
                                first-text="First"
                                last-text="Last"></pagination>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div id="main">
                            <div class="list-your-property-form">
                    
                                <div>
                                    <h2 class="page-header" style="font-size:24px; margin-top:5px">
                                        Stock Report Log
                                    </h2>
                                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>FileName</th>
                                                <th>Issued</th>
                                                <th data-priority="1">Open</th>
                                                <th data-priority="1">Close</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr data-ng-repeat="c in vm.stockreportlogs"
                                                data-ng-click="vm.gotoReportDetails(c)">
                                                <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                    ({{$index +1}})
                                                    {{c.cardIssuance.job.jobName | limitTo: 20}}
                                                </th>
                                                <th>{{c.issuanceQty}}</th>
                                                <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                    <span class="co-name">
                                                        {{c.openingStock}}
                                                    </span>
                                                </th>
                                                <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                                    {{c.closingStock}}
                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>
</div>

