<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">New Print Resume</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<!-- Tables and Panels -->
<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div id="main">

                    <div class="list-your-property-form">

                        <h2 class="page-header" style="font-size:24px; margin-top:5px">
                            Job Split Analysis
                        </h2>

                        <table class="table table-condensed">
                            <thead>
                                <tr style="font-size:14px">
                                    <th>Machine</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>TotalQty</th>
                                    <th>Good</th>
                                    <th>Pending</th>
                                    <th>Held</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr style="background-color: #efefef; font-size:12px">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {{vm.getRangeTotal}}
                                    </td>
                                    <td>
                                        <span style="font-size: 11px">
                                            {{vm.getQuantityGood}} Good;
                                        </span>

                                    </td>
                                    <td>
                                        {{vm.getQuantityBad }} Waste;
                                    </td>
                                    <td>
                                        {{vm.getQuantityHeld}} Held
                                    </td>
                                  
                                </tr>
                            </tfoot>

                            <tbody>
                                <tr style="font-size:13px" data-ng-repeat="c in vm.jobSplitCEAnalysis"
                                    data-ng-click="vm.displayJobSplitDetails(c)">
                                    <td>{{c.jobSplit.sidMachine.name}}</td>
                                    <td>{{c.jobSplit.rangeFrom}}</td>
                                    <td>{{c.jobSplit.rangeTo}}</td>
                                    <td>{{(c.jobSplit.rangeTo - c.jobSplit.rangeFrom) + 1}}</td>
                                    <td>{{c.quantityGood - (c.quantityBad + c.quantityHeld)}}</td>
                                    <td>{{c.quantityBad}} <span style="font-size:11px">({{c.wasteReturned}})</span></td>
                                    <td>{{c.quantityHeld}} <span style="font-size:11px">({{c.heldReturned}})</span></td>
                                    <!--<td>{{c.quantityGood }}</td>
                                    <td>{{c.quantityBad}}</td>
                                    <td>{{c.quantityHeld}}</td>-->
                                    <!--<td>
                                        <p> <i class="fa fa-check-circle-o fa-fw" style="color: green;"></i></p>
                                    </td>-->
                                </tr>

                            </tbody>
                        </table>

                        <!--<div class="input-text form-group">
                            <input type="submit" data-ng-click="vm.save()"
                                   value="Complete Perso Process" class="btn btn-primary btn-large list-your-property arrow-right" />
                        </div>-->

                    </div>

                    <br />

                    <!--<div class="input-text form-group" ng-show="!IsRangeVisible">
                        <label class="control-label" for="inputLoginPassword" style="font-size:12px">
                            Add Delivery Range
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <input type="checkbox" id="chkPassportRange" ng-model="ShowPassportRange" ng-change="ShowHideRange()" />


                        <table class="table table-condensed">
                            <thead>
                                <tr style="font-size:14px">
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Qty</th>
                                    <th>Created By</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>
                                        <a ng-click="vm.refreshDeliveryLog()">
                                            <i class="fa-rotate-right"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr style="background-color: #efefef; font-size:12px">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {{vm.cardIssuance.totalQuantityIssued}} of
                                        {{vm.cardIssuance.totalQuantityIssued}}

                                    </td>
                                    <td>
                                        <span style="font-size: 11px">
                                            {{vm.getQuantityGood}} Good;
                                            {{vm.getQuantityBad }} Waste;
                                            {{vm.getQuantityHeld}} Held
                                        </span>

                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>

                            <tbody>
                                <tr style="font-size:13px" data-ng-repeat="c in vm.carddeliverylogs">
                                    <td>1</td>
                                    <td>{{vm.cardIssuance.totalQuantityIssued}}</td>
                                    <td>{{(vm.cardIssuance.totalQuantityIssued - 1) + 1}}</td>
                                    <td>{{c.createdBy.fullName }}</td>
                                    <td>
                                        <p>
                                            <i ng-if="c.description" class="fa fa-pencil-square-o" style="color: green;"
                                               data-toggle="tooltip" data-placement="left"
                                               title="Tooltip on left"
                                               tooltip="{{c.description}} - "
                                               tooltip-placement="left"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p><i ng-if="c.isConfirmed" class="fa fa-check-circle-o fa-fw" style="color: green;"></i></p>
                                        <p><i ng-if="!c.isConfirmed" class="fa fa-circle-o fa-fw" style="color: red;"></i></p>
                                    </td>
                                    <td>
                                        <p><i ng-if="!c.isConfirmed" class="fa fa-trash-o" aria-hidden="true" style="color: red;" ng-click="vm.deleteDelivery(c)"></i></p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                        <br /> <br />
                        <div class="input-text form-group">
                            <input type="submit"
                                   data-ng-click="vm.defaultSave()"
                                   value="Complete QC Process"
                                   class="btn btn-primary btn-large list-your-property arrow-right" />
                        </div>


                    </div>


                    <div class="list-your-property-form" ng-show="IsRangeVisible">

                        <h2 class="page-header" style="font-size:18px; margin-top:5px">
                            Job Deliverables
                        </h2>

                        <div>

                            <table>
                                <tr>
                                    <td>
                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword" style="font-size:12px">
                                                Add Description
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="checkbox" id="chkPassport" ng-model="ShowPassport" ng-change="ShowHide()" />
                                        </div>

                                    </td>
                                </tr>

                                <tr style="font-size:12px">

                                    <td>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Range From
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name" style="width:90% !important"
                                                   ng-model="vm.del.rangeFrom"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                    </td>

                                    <td>
                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                To
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name" style="width:90% !important"
                                                   ng-model="vm.del.rangeTo"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                    </td>
                                    <td>
                                        <button ng-click="vm.saveDeliverable()"
                                                uib-tooltip="I'm a tooltip!"
                                                class="btn btn-info btn-icon btn-gap btn-sm">
                                            <i class="fa fa-check"></i>
                                            <span>Save</span>
                                        </button>

                                    </td>
                                </tr>

                                <tr ng-show="IsVisible">
                                    <td colspan="2">
                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Description
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name" style="width:90% !important"
                                                   ng-model="vm.del.description"
                                                   class="input-name form-control" placeholder="" />
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>

                            </table>

                        </div>

                        <table class="table table-condensed">
                            <thead>
                                <tr style="font-size:14px">
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Qty</th>
                                    <th>Created By</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>
                                        <a ng-click="vm.refreshDeliveryLog()">
                                            <i class="fa-rotate-right"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr style="background-color: #efefef; font-size:12px">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {{vm.getRangeTotal}} of
                                        {{vm.cardIssuance.totalQuantityIssued}}

                                    </td>
                                    <td>
                                        <span style="font-size: 11px">
                                            {{vm.getQuantityGood}} Good;
                                            {{vm.getQuantityBad }} Waste;
                                            {{vm.getQuantityHeld}} Held
                                        </span>

                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>

                            <tbody>
                                <tr style="font-size:13px" data-ng-repeat="c in vm.carddeliverylogs">
                                    <td>{{c.rangeFrom}}</td>
                                    <td>{{c.rangeTo}}</td>
                                    <td>{{(c.rangeTo - c.rangeFrom) + 1}}</td>
                                    <td>{{c.createdBy.fullName }}</td>
                                    <td>
                                        <p>
                                            <i ng-if="c.description" class="fa fa-pencil-square-o" style="color: green;"
                                               data-toggle="tooltip" data-placement="left"
                                               title="Tooltip on left"
                                               tooltip="{{c.description}} - "
                                               tooltip-placement="left"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p><i ng-if="c.isConfirmed" class="fa fa-check-circle-o fa-fw" style="color: green;"></i></p>
                                        <p><i ng-if="!c.isConfirmed" class="fa fa-circle-o fa-fw" style="color: red;"></i></p>
                                    </td>
                                    <td>
                                        <p><i ng-if="!c.isConfirmed" class="fa fa-trash-o" aria-hidden="true" style="color: red;" ng-click="vm.deleteDelivery(c)"></i></p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="input-text form-group">
                            <input type="submit"
                                   data-ng-click="vm.save()"
                                   data-ng-disabled="!vm.canSave"
                                   value="Complete Perso Process"
                                   class="btn btn-primary btn-large list-your-property arrow-right" />
                        </div>


                    </div>-->


                </div>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-flat" ng-show="vm.jobSplitDetail">
            <div class="panel-heading">

                <h3 class="panel-title">Job Split Details</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table style="margin-top:10px">

                <tr style="font-size:12px">

                    <td style="width:30%">
                        {{vm.ceJobSplit.jobSplit.sidMachine.name}} (Machine)
                    </td>

                    <td style="width: 50%">
                        Range From: {{vm.ceJobSplit.jobSplit.rangeFrom}} To  {{vm.ceJobSplit.jobSplit.rangeTo}}
                        <br /> <strong>({{((vm.ceJobSplit.jobSplit.rangeTo - vm.ceJobSplit.jobSplit.rangeFrom) + 1) - (vm.ceJobSplit.quantityHeld + vm.ceJobSplit.quantityBad)}}/ {{(vm.ceJobSplit.jobSplit.rangeTo - vm.ceJobSplit.jobSplit.rangeFrom) + 1}})</strong>
                    </td>

                    <td>
                        <label class="control-label" for="inputLoginPassword">
                            &nbsp;
                        </label>
                        <button ng-click="vm.updateJobSplit()"
                                class="btn btn-info btn-icon btn-gap btn-sm">
                            <i class="fa fa-check"></i>
                            <span>Update</span>
                        </button>

                    </td>
                </tr>

            </table>

            <br />

            <table>
                <tr>
                    <td><strong>Created By</strong></td>
                    <td>{{vm.ceJobSplit.createdBy.firstName}}</td>
                </tr>
                <tr>
                    <td><strong>Created On</strong></td>
                    <td>{{vm.ceJobSplit.createdOn}}</td>
                </tr>
            </table>

            <br />

            <table>
                <tr>
                    <td><strong>Modified By</strong></td>
                    <td>{{vm.ceJobSplit.createdBy.firstName}}</td>
                </tr>
                <tr>
                    <td><strong>Modified On</strong></td>
                    <td>{{vm.ceJobSplit.modifiedOn}}</td>
                </tr>
            </table>

        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Job Details</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">

                <tbody>
                    <tr>
                        <td>JobName</td>
                        <td>{{vm.jobTracker.job.jobName}}</td>
                    </tr>
                    <tr>
                        <td>Client:</td>
                        <td>{{vm.jobTracker.job.sidSector.name}}> {{vm.job.sidClient.name}} > {{vm.job.remark.name}}</td>
                    </tr>
                    <tr>
                        <td>Service Type</td>
                        <td>{{vm.jobTracker.job.serviceType.name}}</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{vm.jobTracker.job.quantity}}</td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Issuance Log</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Qty Issued</th>
                        <th>Remain</th>
                        <th>IssuedBy</th>
                        <th>IssuedOn</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.cardissuancelogs"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.quantityIssued}}</td>
                        <td>{{c.quantityRemain}}</td>
                        <td>{{c.issuance.fullName}}</td>
                        <td>{{c.issuedDate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

