<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Perso Waste Request</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>



<div class="table-wrapper">

    <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

        <table cellspacing="0" class="table table-small-font table-bordered table-striped">
            <thead>
                <tr>
                    <th>Job Name</th>
                    <th data-priority="3">Total Batch Qty</th>
                    <th data-priority="1">Total Good Qty</th>
                    <th data-priority="3">Waste Qty</th>
                    <th data-priority="3">Held Waste</th>
                    <th data-priority="1">Request Details</th>
                    <th>Held Receipt</th>
                </tr>
            </thead>
            <tbody>

                <tr data-ng-repeat="c in vm.wasterequests"
                    data-ng-click="vm.gotoJobDetails(c)">
                    <th colspan="1">
                        ({{$index +1}})
                        <span class="co-name">
                            {{c.jobTracker.job.jobName }}
                        </span>
                    </th>
                    <td data-priority="3" colspan="1">
                        {{c.quantityGood + c.quantityBad + c.quantityHeld}}
                    </td>
                    <td data-priority="3" colspan="1">
                        {{c.quantityGood}}
                    </td>
                    <td data-priority="1" colspan="1" data-columns="id8c140f573a4de-col-3">
                        {{c.quantityBad}}
                    </td>
                    <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-4">
                        {{c.quantityHeld}}
                    </td>
                    <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-5">
                        <span>Date Created</span>
                        <br />
                        {{c.createdOn}}
                        <br />
                        <span>Error Source</span>
                        <select style="width:90% !important; padding:5px"
                                data-ng-options="r.name for r in vm.wasteErrorSources"
                                data-ng-model="c.waste.source" 
                                ng-change="vm.updateErrorCode(c.waste.source)"
                                class="form-control"></select>

                        <br />
                        <span>Error Source Code</span>
                        <select style="width:90% !important; padding:5px"
                                data-ng-options="r.name for r in vm.newWasteInfo"
                                data-ng-model="c.waste.sourceCode" class="form-control"></select>

                        <br />
                        <span>Unit Responsible</span>
                        <select style="width:90% !important; padding:5px"
                                data-ng-options="r.name for r in vm.departments"
                                data-ng-model="c.waste.department" class="form-control"></select>
                    </td>

                    <td>
                        <button ng-click="vm.confirmWaste(c)" class="btn btn-info btn-icon btn-gap">
                            <i class="fa-plus"></i>
                            <span>Confirm </span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
