<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Waste Log Details</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoPartialIssuance()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add Partial IssuanceX</span>
        </button>

    </div>

</div>

<!-- Tables and Panels -->
<div class="row">

    <div class="col-md-12">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Card Issuance Log</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                    <thead>
                        <tr>
                            <!--<th>File Name</th>-->
                            <th data-priority="3">Issuance Type</th>
                            <th data-priority="1">Total Qty</th>
                            <th data-priority="3">Qty Issued</th>
                            <th data-priority="3">Qty Remain</th>
                            <th data-priority="6">Issunace</th>
                            <th data-priority="6">Receiver</th>
                            <th data-priority="1">Time In</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr data-ng-repeat="c in vm.cardissuancelogs"
                            data-ng-click="vm.gotoCardLogDetails(c)">
                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                ({{$index +1}})
                                <span class="co-name">
                                    Partial{{c.job.jobName }}
                                </span>
                            </th>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                100{{c.totalQuantity}}
                            </td>
                            <td data-priority="1" colspan="1" data-columns="id8c140f573a4de-col-3">
                                60{{c.totalQuantityIssued}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-4">
                                40{{c.totalQuantityRemain}}
                            </td>
                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-5">
                                Akin{{c.issuance.fullName}}
                            </td>
                            <td data-priority="6" colspan="1" data-columns="id8c140f573a4de-col-6">
                                Olanre{{c.collector.fullName}}
                            </td>
                            <td data-priority="1" colspan="1" data-columns="id8c140f573a4de-col-1">
                                {{c.formattedDate}}
                            </td>

                        </tr>


                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <div class="col-md-7">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Issuance Details</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">

                <tbody>
                    <tr>
                        <td>JobName</td>
                        <td>UBUKINA_422525_20170523_1447 GOLD SDA.txt.xls</td>
                    </tr>
                    <tr>
                        <td>Client:</td>
                        <td>Bank > GTBank > Silver Master Card</td>
                    </tr>
                    <tr>
                        <td>Job Type</td>
                        <td>Mailing Only</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>200</td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Client MIS Stock Information</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Sectors</th>
                        <th>Client Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.clients"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.sector.name}}</td>
                        <td>{{c.name}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div class="col-md-5">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Job Details</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">

                <tbody>
                    <tr>
                        <td>JobName</td>
                        <td>UBUKINA_422525_20170523_1447 GOLD SDA.txt.xls</td>
                    </tr>
                    <tr>
                        <td>Client:</td>
                        <td>Bank > GTBank > Silver Master Card</td>
                    </tr>
                    <tr>
                        <td>Job Type</td>
                        <td>Mailing Only</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>200</td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Client MIS Stock Information</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Sectors</th>
                        <th>Client Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.clients"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.sector.name}}</td>
                        <td>{{c.name}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>

