<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Create User</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<!-- Tables and Panels -->
<div class="row">
    <div class="col-md-5">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div id="main">
                    <div class="list-your-property-form">
                        <h2 class="page-header" style="font-size:24px; margin-top:5px">
                            Create Card Issuance
                        </h2>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-4 col-sm-12">

                                    <div class="span4">

                                        

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                First Name: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name"
                                                   ng-model="vm.user.firstName"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Last Name: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name"
                                                   ng-model="vm.user.lastName"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Email Address: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name"
                                                   ng-model="vm.user.email"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Phone Number: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name"
                                                   ng-model="vm.user.phoneNumber"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <hr />

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                User Name: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="text" name="contact_name"
                                                   ng-model="vm.user.userName"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Password: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="password" name="contact_name"
                                                   ng-model="vm.user.password"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                        <div class="input-text form-group">
                                            <label class="control-label" for="inputLoginPassword">
                                                Confirm Password: <span style="font-size:11px"></span>
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <input type="password" name="contact_name"
                                                   ng-model="vm.user.confirmPassword"
                                                   class="input-name form-control" placeholder="" />
                                        </div>

                                    
                                        <div class="input-text form-group">
                                            <input type="submit" data-ng-click="vm.save()"
                                                   value="Submit Entry" class="btn btn-primary btn-large list-your-property arrow-right" />
                                        </div>

                                        <div data-ng-show="vm.messageVisble" style="color:red">
                                            <img src="../../../assets/chargement.gif" />
                                            {{vm.message}}
                                        </div>

                                        <div style="margin-top:10px; font-size:12px" data-ng-hide="message == ''"
                                             data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                            {{message}}
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-7">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Job Details</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">

                <tbody>
                    <tr>
                        <td>JobName</td>
                        <td>{{vm.jobTracker.job.jobName}}</td>
                    </tr>
                    <tr>
                        <td>Client:</td>
                        <td>{{vm.jobTracker.job.sidSector.name}}> {{vm.jobTracker.job.sidClient.name}} > {{vm.jobTracker.job.remark.name}}</td>
                    </tr>
                    <tr>
                        <td>Service Type</td>
                        <td>{{vm.jobTracker.job.serviceType.name}}</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{vm.jobTracker.job.quantity}}</td>
                    </tr>
                    <tr></tr>
                    <tr ng-show="vm.productName">
                        <td>Product Name</td>
                        <td>
                            <a target="_blank" href="#/in/inventory/vault-product/{{vm.jobVariants.sidProduct.id}}">{{vm.jobVariants.sidProduct.name}}</a>
                            <a target="_blank" href="#/in/inventory/vault-product/{{vm.jobVariants.sidProduct.id}}/MISReport">(MIS Report)</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--Vault Report-->
        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Client Product Vault Report</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Opening Stock</th>
                        <th>Closing Stock</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.clientVault"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.openingStock}}</td>
                        <td>{{c.closingStock}}</td>
                        <td>{{c.modifiedOn}}</td>
                    </tr>

                </tbody>
            </table>

            <div ng-show="vm.createVault">
                This Product do not have any items in the Vault <br /> <br />

                <div class="input-text form-group">
                    <input type="submit" data-ng-click="vm.createProductVault()"
                           value="Create Product Vault" class="btn btn-primary btn-large list-your-property arrow-right" />
                </div>

            </div>
        </div>

        <!--Issuance Log-->
        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Issuance Log</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Qty Issued</th>
                        <th>Remain</th>
                        <th>IssuedBy</th>
                        <th>IssuedOn</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.issuanceLogs"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.quantityIssued}}</td>
                        <td>{{c.quantityRemain}}</td>
                        <!--<td>{{c.issuanceId}}</td>-->
                        <td>Akinsanya Ola</td>
                        <td>{{c.issuedDate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <!--MIS Report-->
        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Client MIS Stock Information</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Opening Stock</th>
                        <th>Quantity Delivered</th>
                        <th>Quantity Pending</th>
                        <th>Total Waste</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.clients"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.sector.name}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.name}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

