<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Card Print Analysis</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<!-- Tables and Panels -->
<div class="row">
    <div class="col-md-7">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div id="main">
                    <div class="list-your-property-form">
                        <h2 class="page-header" style="font-size:24px; margin-top:5px">
                            Split Process
                        </h2>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-7 col-sm-12">

                                    <div class="span7" style="margin-left:0 !important">

                                        <button ng-click="vm.addRow()"
                                                class="btn btn-info btn-icon btn-gap"
                                                style="margin-right:2px">
                                            <i class="fa fa-bars"></i>
                                            <span>Add Split</span>
                                        </button>


                                        <i ng-click="vm.revertView()" class="fa fa-undo" style="" data-toggle="tooltip" data-placement="left" title="Revert View"></i>

                                        <br /><br />


                                        <table class="tab-content" ng-if="!vm.withSplit">
                                            <tr style="font-size:12px">
                                                <td>
                                                    <div class="input-text form-group">
                                                        <label class="control-label" for="inputLoginPassword">
                                                            Machine:
                                                            <span class="form-required" title="This field is required.">*</span>
                                                        </label>

                                                        <select style="width:120% !important; padding:5px"
                                                                data-ng-options="r.name for r in vm.machineLists"
                                                                data-ng-model="vm.split.machine" class="form-control"></select>

                                                    </div>

                                                </td>

                                                <td>
                                                    <div class="input-text form-group">
                                                        <label class="control-label" for="inputLoginPassword">
                                                            Range From
                                                            <span class="form-required" title="This field is required.">*</span>
                                                        </label>
                                                        <input type="text" name="contact_name" style="width:90% !important"
                                                               data-ng-model="vm.split.rangeFrom"
                                                               ng-init="1"
                                                               class="input-name form-control" placeholder="" />
                                                    </div>

                                                </td>

                                                <td>
                                                    <div class="input-text form-group">
                                                        <label class="control-label" for="inputLoginPassword">
                                                            To
                                                            <span class="form-required" title="This field is required.">*</span>
                                                        </label>
                                                        <input type="text" name="contact_name" style="width:90% !important"
                                                               ng-model="vm.split.rangeTo"
                                                               class="input-name form-control" placeholder="" />
                                                    </div>

                                                </td>
                                            </tr>
                                        </table>

                                        <table class="tab-content" ng-if="vm.withSplit">
                                            <tr style="font-size:12px" ng-repeat="item in inputs">
                                                <td>
                                                    <div class="input-text form-group">
                                                        <label class="control-label" for="inputLoginPassword">
                                                            Machine:
                                                            <span class="form-required" title="This field is required.">*</span>
                                                        </label>

                                                        <select style="width:90% !important; padding:5px"
                                                                data-ng-options="r.name for r in vm.machineLists"
                                                                data-ng-model="item.machine" class="form-control"></select>

                                                    </div>

                                                </td>

                                                <td>

                                                    <div class="input-text form-group">
                                                        <label class="control-label" for="inputLoginPassword">
                                                            Range From
                                                            <span class="form-required" title="This field is required.">*</span>
                                                        </label>
                                                        <input type="text" name="contact_name" style="width:90% !important"
                                                               ng-model="item.rangeFrom"
                                                               ng-init="1"
                                                               class="input-name form-control" placeholder="" />
                                                    </div>

                                                </td>

                                                <td>
                                                    <div class="input-text form-group">
                                                        <label class="control-label" for="inputLoginPassword">
                                                            To
                                                            <span class="form-required" title="This field is required.">*</span>
                                                        </label>
                                                        <input type="text" name="contact_name" style="width:90% !important"
                                                               ng-model="item.rangeTo"
                                                               class="input-name form-control" placeholder="" />
                                                    </div>

                                                </td>
                                                <td>
                                                    <button ng-click='del($index)'
                                                            style="margin-right:2px">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>

                                                </td>
                                            </tr>

                                        </table>

                                        <div>

                                            <div style="margin-top:10px; font-size:12px" data-ng-hide="message == ''"
                                                 data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                                {{message}}
                                            </div>

                                        </div>

                                        <div class="input-text form-group" ng-if="!vm.withSplit">
                                            <input type="submit" data-ng-click="vm.noSplitSave()"
                                                   value="First Card Perso" class="btn btn-primary btn-large list-your-property arrow-right" />
                                        </div>

                                        <div class="input-text form-group" ng-if="vm.withSplit">
                                            <input type="submit" data-ng-click="vm.save()"
                                                   value="First Card Perso Wth Split" class="btn btn-primary btn-large list-your-property arrow-right" />
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-5">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Job Details</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">

                <tbody>
                    <tr>
                        <td>JobName</td>
                        <td>{{vm.jobTracker.job.jobName}}</td>
                    </tr>
                    <tr>
                        <td>Client:</td>
                        <td>{{vm.jobTracker.job.sidSector.name}}> {{vm.jobTracker.job.sidClient.name}} > {{vm.jobTracker.job.remark.name}}</td>
                    </tr>
                    <tr>
                        <td>Service Type</td>
                        <td>{{vm.jobTracker.job.serviceType.name}}</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{vm.jobTracker.job.quantity}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Issuance Log</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Qty Issued</th>
                        <th>Remain</th>
                        <th>IssuedBy</th>
                        <th>IssuedOn</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.issuanceLogs"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.quantityIssued}}</td>
                        <td>{{c.quantityRemain}}</td>
                        <td>{{c.issuance.fullName}}</td>
                        <td>{{c.issuedDate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h3 class="panel-title">Client MIS Stock Information</h3>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">#</th>
                        <th>Sectors</th>
                        <th>Client Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in vm.clients"
                        data-ng-click="vm.gotoCardTypes(c)">
                        <td>({{$index +1}})</td>
                        <td>{{c.sector.name}}</td>
                        <td>{{c.name}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

