<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title">Dictionary Reports</h1>
        <p class="description">Descriptions</p>
    </div>

    <div class="btn-group pull-right" style="padding-right:30px">

        <button ng-click="vm.goBack()" class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-angle-left"></i>
            <span>Back</span>
        </button>

        <button class="btn btn-info btn-icon btn-gap" style="margin-right:2px">
            <i class="fa-refresh"></i>
            <span>Refresh</span>
        </button>

        <button ng-click="vm.gotoAddVariant()" class="btn btn-info btn-icon btn-gap">
            <i class="fa-plus"></i>
            <span>Add New Variant</span>
        </button>

    </div>

</div>

<div class="table-wrapper">

    <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">

        <div class="row">
            <div class="col-md-3">
                <div>
                    <div style="padding-top:10px">

                        <input class="input-medium search-query"
                               style="padding:5px 0 5px 5px; width: 300px" type="text"
                               placeholder="Search for client"
                               data-ng-model="vm.clientSearch"
                               data-ng-keyup="vm.search($event)" />
                    </div>

                </div>
                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th data-priority="1">Client Name</th>
                          
                        </tr>
                    </thead>
                    <tbody>

                        <tr data-ng-repeat="c in vm.filteredClients"
                            data-ng-click="vm.gotoClientProducts(c)">
                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                ({{$index +1}})
                            </th>
                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                <span class="co-name">
                                    {{c.name }}
                                </span>
                            </th>
                       
                        </tr>

                    </tbody>

                </table>

                <div>

                    <pagination boundary-links="true"
                                on-select-page="vm.pageChanged(page)"
                                total-items="vm.productFilteredCount"
                                items-per-page="vm.paging.pageSize"
                                page="vm.paging.currentPage"
                                max-size="vm.paging.maxPagesToShow"
                                class="pagination-small"
                                previous-text="Prev"
                                next-text="Next"
                                first-text="First"
                                last-text="Last"></pagination>

                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div id="main">
                            <div class="list-your-property-form">
                                <h2 class="page-header" style="font-size:24px; margin-top:5px">
                                    Client ShortCode
                                </h2>

                                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th data-priority="1">Client Name</th>
                                            <th data-priority="1">Client Code</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr data-ng-repeat="c in vm.dicClientName"
                                            data-ng-click="vm.gotoClientCodeUpdateDetails(c)">
                                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                ({{$index +1}})
                                            </th>
                                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                <span class="co-name">
                                                    {{c.sidClient.name}}
                                                </span>
                                            </th>
                                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                                {{c.clientCodeName}}
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                                <div class="input-text form-group">
                                    <input type="submit" data-ng-click="vm.saveClientCode()"
                                           value="Add New" class="btn btn-primary btn-large list-your-property arrow-right" />
                                </div>

                                <br />
                              
                                <div>
                                    <h2 class="page-header" style="font-size:24px; margin-top:5px">
                                        Service Types
                                    </h2>
                                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th data-priority="1">Card Type</th>
                                                <th data-priority="1">ServiceCode</th>
                                                <th>Service Type</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr data-ng-repeat="c in vm.dicServiceType"
                                                data-ng-click="vm.gotoClientServiceUpdateDetails(c)">
                                                <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                    ({{$index +1}})

                                                    {{c.sidClient.name}}
                                                </th>
                                                <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                    <span class="co-name">
                                                        {{c.sidCardType.name}}
                                                    </span>
                                                </th>
                                                <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                                    {{c.serviceCodeName}}
                                                </td>
                                                <td>{{c.serviceType.name}}</td>

                                            </tr>

                                        </tbody>

                                    </table>

                                    <div class="input-text form-group">
                                        <input type="submit" data-ng-click="vm.saveServiceCode()"
                                               value="Add New" class="btn btn-primary btn-large list-your-property arrow-right" />
                                    </div>
                                </div>



                                <br />
                                <h2 class="page-header" style="font-size:24px; margin-top:5px">
                                    Card Types
                                </h2>

                                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th data-priority="1">Opening</th>
                                            <th data-priority="1">Closing</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr data-ng-repeat="c in vm.dictionaryCardTypes"
                                            data-ng-click="vm.gotoReportDetails(c)">
                                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                ({{$index +1}})
                                            </th>
                                            <th colspan="1" data-columns="id8c140f573a4de-col-0">
                                                <span class="co-name">
                                                    {{c.sidCardType.name}}
                                                </span>
                                            </th>
                                            <td data-priority="3" colspan="1" data-columns="id8c140f573a4de-col-2">
                                                {{c.cardCodeName}}
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                             
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div id="main">

                            <div ng-if="vm.createNewClientName" class="list-your-property-form">
                                <h2 class="page-header" style="font-size:24px; margin-top:5px">
                                    Card Types
                                </h2>

                                <br />
                               
                                <div class="input-text form-group">
                                    <label class="control-label" for="inputLoginPassword">
                                        Client Name
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>
                                    <input type="text" name="contact_name" readonly
                                           ng-model="vm.selectedClient.name"
                                           class="input-name form-control" placeholder="" />
                                </div>

                                <div class="input-text form-group">
                                    <label class="control-label" for="inputLoginPassword">
                                        Client Code
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>
                                    <input type="text" name="contact_name"
                                           ng-model="vm.selectedClient.codeName"
                                           class="input-name form-control" placeholder="" />
                                </div>

                                <div ng-if="vm.newClientCode" class="input-text form-group">
                                    <input type="submit" data-ng-click="vm.createNewClientCode()"
                                           value="Create New ClientCode" class="btn btn-primary btn-large list-your-property arrow-right" />
                                </div>

                                <div ng-if="vm.updateClientCode" class="input-text form-group">
                                    <input type="submit" data-ng-click="vm.updateNewClientCode()"
                                           value="Update ClientCode" class="btn btn-primary btn-large list-your-property arrow-right" />
                                </div>

                            </div>


                            <div ng-if="vm.createNewServiceType" class="list-your-property-form">
                                <h2 class="page-header" style="font-size:24px; margin-top:5px">
                                    Service Types
                                </h2>

                                <br />

                                <div class="input-text form-group">
                                    <label class="control-label" for="inputLoginPassword">
                                        Client:
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>
                                    <input type="text" name="contact_name" readonly
                                           ng-model="vm.selectedService.name"
                                           class="input-name form-control" placeholder="" />
                                </div>

                                <div class="input-text form-group">
                                    <label class="control-label" for="inputLoginPassword">
                                        Card Types
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>

                                    <select data-ng-options="r.name for r in vm.sidCardTypes"
                                            data-ng-model="vm.selectedService.sidCardType" class="form-control"
                                            style="padding:5px"></select>

                                </div>

                                <div class="input-text form-group">
                                    <label class="control-label" for="inputLoginPassword">
                                        Service Type
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>

                                    <select data-ng-options="r.name for r in vm.serviceTypes"
                                            data-ng-model="vm.selectedService.serviceType" class="form-control"
                                            style="padding:5px"></select>

                                </div>

                                <div class="input-text form-group">
                                    <label class="control-label" for="inputLoginPassword">
                                        Client Code
                                        <span class="form-required" title="This field is required.">*</span>
                                    </label>
                                    <input type="text" name="contact_name"
                                           ng-model="vm.selectedService.serviceCodeName"
                                           class="input-name form-control" placeholder="" />
                                </div>

                                <div ng-if="vm.newServiceType" class="input-text form-group">
                                    <input type="submit" data-ng-click="vm.saveServiceType()"
                                           value="Create New ServiceType" class="btn btn-primary btn-large list-your-property arrow-right" />
                                </div>

                                <div ng-if="vm.updateServiceType" class="input-text form-group">
                                    <input type="submit" data-ng-click="vm.updateServiceType2()"
                                           value="Update ServiceType" class="btn btn-primary btn-large list-your-property arrow-right" />
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>
</div>

